* {
  box-sizing: border-box;
}

body {
  font-family: "MingLiU", "Noto Serif SC", "SimSun", "Microsoft JhengHei", serif;
  min-height: 100dvh;
  margin: 0;
  overflow-y: overlay;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 15px;
  color: white;
  background: #333;
}

a {
  text-decoration: none;
  color: #ffffff;
}

main {
  width: 100%;
  max-width: 1000px;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

#glslCanvas {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: #333;
  opacity: 0;
  transition: opacity 3s;
  pointer-events: none;
}
#glslCanvas.show {
  opacity: 1;
}

section#content {
  font-size: 32px;
  min-height: 70dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  mix-blend-mode: difference;
  color: white;
}
section#content p {
  width: 100%;
  line-height: 46px;
}
section#content .logo {
  width: 100%;
}
section#content .logo #logo {
  display: inline-flex;
  text-align: left;
  font-weight: bold;
  line-height: 45px;
  overflow: hidden;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
section#content .logo #logo span:nth-child(1) {
  color: #c4c4c4;
}
section#content .logo #logo span:nth-child(2) {
  padding: 0 2px;
}
section#content .logo #logo span:nth-child(3) {
  font-size: 20px;
  padding-right: 3px;
}
section#content .control {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
section#content .control a {
  opacity: 0.3;
  line-height: 32px;
  cursor: pointer;
  transition: opacity 0.3s;
}
section#content .control a:hover {
  opacity: 1;
}
section#content .control a svg {
  width: 32px;
  height: 32px;
}

.hr {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 20px 0 !important;
}
.hr::before, .hr::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}
.hr::before {
  margin-right: 1em;
}
.hr::after {
  margin-left: 1em;
}

.col-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 50px;
  margin-top: 80px;
  margin-bottom: 5em;
}
@media (max-width: 1000px) {
  .col-2 {
    flex-direction: column;
    gap: 15px;
  }
}
.col-2 > * {
  width: 100%;
}

section#links {
  position: relative;
  text-align: center;
}
section#links > * {
  margin: 20px;
}
section#links svg {
  width: 32px;
}

section#domains .group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 36px;
}
section#domains .group p {
  font-weight: bolder;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
section#domains .group a:hover {
  text-decoration: underline;
}
section#domains .group .other {
  cursor: not-allowed;
}

section#github .item {
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
}
section#github .item .title {
  display: flex;
  justify-content: space-between;
}
section#github .item .title a {
  font-weight: bolder;
}
section#github .item .title .info {
  display: flex;
  gap: 15px;
  color: #c8c8c8;
}
section#github .item .title .info .license {
  cursor: help;
}
section#github .item .desc {
  margin: 10px 0 0;
}
